[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.1"
werkzeug = "==1.0.0"
gunicorn = "==20.0.4"
pytest = "==5.3.5"
pytest-cov = "==2.8.1"
flake8 = "==3.7.9"
click = "==7.0"
snakeeyes-cli = {editable = true,path = "."}

[requires]
python_version = "3.8"
